@font-face {
    font-family: Exo2-Bold;
    src: url('../fonts/Exo2-Bold.ttf');
  }
  @font-face {
    font-family: Exo2-Medium;
    src: url('../fonts/Exo2-Medium.ttf');
  }
  @font-face {
    font-family: Exo2-Regular;
    src: url('../fonts/Exo2-Regular.ttf');
  }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

body{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
   
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: #eceff1;
}

.navBar{
    box-sizing: border-box;
    padding: 10px 50px;
    width: 100vw;
    height: 95px;
    background-color: #fff;
    /* box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.15); */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 70px;
    height: 75px
}

h1{
    font-size: 18px;
    color: #212121;
    text-align: center;
    font-family: "Exo2-Bold";
}
.options{
    margin: 30px auto 0 auto;
    width: 500px;
    display: flex;
    gap: 10px;
}
.options-title h1{
    color: #fff;
}
.options-title{
    cursor: pointer;
    width: 160px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BDBDBD;
    transition: all .2s;
    /* box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.15); */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);

}

.options-title-active {
    background-color: #616161;
    color: #fff; 
}
.options-title:hover{
    background-color: #757575;
}
.options-title-active:hover {
    background-color: #616161;
}

.calcContainer{
    width: 500px;
    margin: 30px auto 0 auto;
}
.calcLine{
    height: 20px;
    display: flex;
    margin-bottom: 20px;

}

.calcLine-title{
    line-height: 25px;
    height: 25px;
    width: 240px;
    font-family: "Exo2-Regular";
    font-size: 18px;
}

.calcLine-input{
    padding-left: 10px;
    margin-left: 20px;
    width: 240px;
    height: 25px;
    outline: none;
    /* text-align: center; */
    font-family: "Exo2-Regular";
    border: none;
}

.outputWrap{
    width: 500px;
    margin: 30px auto 0 auto;
}
.outputWrap div{
    margin-bottom: 20px;
}
.outputTitle{
    font-family: "Exo2-Bold";
    font-size: 18px;
}
.btnWrap{
    width: 500px;
    margin: 30px auto 0 auto;
}
.btn{
    height: 30px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    background-color: #BDBDBD;
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    transition: .3s;
}
.btn:hover{
    background-color: #212121;
}


.hideWrap{
    display: none;
}